<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<center>
<h1>Examen Parcial 1</h1>
<h3>Joshua Abraham Reyes Rodríguez 4CM1</h3>
</center>
    <table>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
            th{
                background-color: #f2f2f2;
            }
            caption{
                font-size: 1.5em;
                margin: 10px 0;
            }
        </style>
        <tbody>
        <tr>
        <th>id</th><th>Método</th><th>Monto</th><th>Fecha</th><th>editar</th><th>elimar</th>
        </tr>
        <tr>
            <td>1</td><td>Efectivo</td><td>$500</td><td>12/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>2</td><td>Tarjeta</td><td>$1000</td><td>13/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>3</td><td>Transferencia</td><td>$1500</td><td>14/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>4</td><td>Efectivo</td><td>$550</td><td>15/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>5</td><td>Tarjeta</td><td>$2500</td><td>16/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>6</td><td>Transferencia</td><td>$50</td><td>12/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>7</td><td>Tarjeta</td><td>$520</td><td>17/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>8</td><td>Transferencia</td><td>$1510</td><td>13/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>9</td><td>Efectivo</td><td>$5000</td><td>14/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        <tr>
            <td>10</td><td>Tarjeta</td><td>$250</td><td>15/03/2026</td><td><a href="editar">editar</a></td>
            <td><a href="eliminar">eliminar</a></td>
        </tr>
        </tbody>
    </table>
    <input type="button" onclick="window.location.href='/nueva'" value="Nuevo registro">

</body>
</html>